# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
zig-cache/
zig-out/
*/zig-cache/
build/
build-*/
docgen_tmp/

# IDE and Vim
*.swp
*.idea
*.vscode

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

